/* -------------------------------------------------------------------------*/
/* Layout */
/* line 9, ../sass/screen.scss */
body {
  background-color: #333;
  color: #fff;
}
/* line 12, ../sass/screen.scss */
body a {
  color: #fff;
}
/* line 14, ../sass/screen.scss */
body a:hover {
  color: blue;
}

/* line 19, ../sass/screen.scss */
.container {
  *zoom: 1;
  max-width: 107em;
  _width: 107em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 25, ../sass/screen.scss */
.container .list ul {
  float: left;
  list-style: none;
}
/* line 28, ../sass/screen.scss */
.container .list ul li {
  float: left;
  padding: 0.5rem 1rem;
}
/* line 32, ../sass/screen.scss */
.container .list ul li a {
  text-decoration: none;
}
/* line 41, ../sass/screen.scss */
.container #img {
  text-align: center;
}
/* line 46, ../sass/screen.scss */
.container #upui {
  display: none;
}
