/* -------------------------------------------------------------------------*/
/* Layout */
/* line 9, ../sass/screen-web-1.scss */
body {
  tesxt-align: center;
}

/* line 12, ../sass/screen-web-1.scss */
.container {
  *zoom: 1;
  max-width: 62.4em;
  _width: 62.4em;
  padding-left: 0em;
  padding-right: 0em;
  margin-left: auto;
  margin-right: auto;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
/* line 38, ../../../.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 23, ../sass/screen-web-1.scss */
#logo-active {
  text-align: center;
  display: block;
  position: absolute;
  height: 100%;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}
/* line 35, ../sass/screen-web-1.scss */
#logo-active img {
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* line 45, ../sass/screen-web-1.scss */
#logo {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

/* line 56, ../sass/screen-web-1.scss */
#cover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 8rem;
  background-color: #333;
  opacity: 0;
  cursor: pointer;
}
/* line 68, ../sass/screen-web-1.scss */
#cover:hover {
  opacity: 0.2;
}

/* line 74, ../sass/screen-web-1.scss */
#welcome {
  position: relative;
  top: 0;
  left: 50%;
  width: 1000px;
  margin-left: -500px;
  text-align: center;
}

/* line 86, ../sass/screen-web-1.scss */
#team {
  text-align: center;
  display: none;
  position: absolute;
  top: 0px;
  left: 500px;
  width: 1000px;
  margin-left: -500px;
}
/* line 111, ../sass/screen-web-1.scss */
#team ul#a {
  float: left;
  padding-left: 500px;
}
/* line 114, ../sass/screen-web-1.scss */
#team ul#a li {
  cursor: pointer;
  float: left;
  list-style: none;
}
/* line 122, ../sass/screen-web-1.scss */
#team ul#a li.cai {
  opacity: 0;
  transition: opacity .7s;
}
/* line 125, ../sass/screen-web-1.scss */
#team ul#a li.cai:hover {
  opacity: 1;
}

/* line 133, ../sass/screen-web-1.scss */
#description-1 {
  display: none;
}

/* line 144, ../sass/screen-web-1.scss */
.imgb {
  min-width: 1104px;
  max-width: 1104px;
  max-height: auto;
}

/* line 152, ../sass/screen-web-1.scss */
.close img {
  cursor: url(http://fujifilm-x.com/x-pro1/common/images/btn_close.png), auto;
}
/* line 157, ../sass/screen-web-1.scss */
.close li.cai {
  opacity: 0;
  transition: opacity .7s;
}
/* line 160, ../sass/screen-web-1.scss */
.close li.cai:hover {
  opacity: 1;
}
