/* -------------------------------------------------------------------------*/
/* Layout */
/* line 8, ../sass/screen-web-1.scss */
body {
  text-aligin: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* line 14, ../sass/screen-web-1.scss */
ul, ol, dd {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

/* line 31, ../sass/screen-web-1.scss */
#loading {
  cursor: pointer;
  text-align: center;
}

/* line 41, ../sass/screen-web-1.scss */
#welcome {
  text-align: center;
  margin: 0;
  padding: 0;
}

/* line 49, ../sass/screen-web-1.scss */
#team {
  display: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0px;
}
/* line 72, ../sass/screen-web-1.scss */
#team ul#a {
  margin: 0;
  padding: 0;
  -webkit-padding-start: 0px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
/* line 86, ../sass/screen-web-1.scss */
#team ul#a li {
  cursor: pointer;
  list-style: none;
}
/* line 94, ../sass/screen-web-1.scss */
#team ul#a #logo {
  verticle-align: center;
}
/* line 96, ../sass/screen-web-1.scss */
#team ul#a #logo img {
  position: absolute;
  width: 100%;
  top: 20;
  height: 0;
  margin: auto;
}
/* line 105, ../sass/screen-web-1.scss */
#team ul#a li.cai {
  opacity: 0;
  transition: opacity .7s;
}
/* line 108, ../sass/screen-web-1.scss */
#team ul#a li.cai:hover {
  opacity: 1;
}

/* line 118, ../sass/screen-web-1.scss */
#logo
#description {
  position: absolute;
  overflow-y: hidden;
}

/* line 123, ../sass/screen-web-1.scss */
#description-1 {
  display: none;
}

/* line 142, ../sass/screen-web-1.scss */
.close img {
  cursor: url(http://fujifilm-x.com/x-pro1/common/images/btn_close.png), auto;
}
/* line 147, ../sass/screen-web-1.scss */
.close .scroll {
  overflow: visible;
}
/* line 151, ../sass/screen-web-1.scss */
.close li.cai {
  opacity: 0;
  transition: opacity .7s;
}
/* line 154, ../sass/screen-web-1.scss */
.close li.cai:hover {
  opacity: 1;
}
