// ---------------------------------------------------------------------------
// Imports

@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 5.2em;
$gutter-width   : 0em;
$grid-padding   : $gutter-width;

$show-grid-backgrounds  : false;

