// ---------------------------------------------------------------------------
// Imports

@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 5.2em;
$gutter-width   : 0em;
$grid-padding   : $gutter-width;
//$imgswidth: 182px;
//$imgbwidth:1104px;
$show-grid-backgrounds : true;
$rwdSmall: "screen and (max-device-height : 800px)";
$rwdMiddle: "screen and (min-device-height : 900px) and (max-device-height : 960px)";
$rwdLarge: "screen and (min-device-height: 1024px)";

// switch gray to color
@mixin hover() {
      opacity: 0;
      transition: opacity .7s;
      &:hover {
        opacity: 1;
      }
}

// each same no repeat
@mixin each($width) {
  @for $i from 0 to 5 {
    li.hui-#{$i} {
      position:absolute;
      left:$width * $i;
      top:0;
     }
    
    li.cai-#{$i} {
      position:absolute;
      left:$width * $i;//width of image
      top:0;
    
      // hover
      @include hover();      
    }
  }
}

@mixin rwdEach() {

    @media #{$rwdSmall} {
        //$imgbwidth:1104px;//bili * width <960
        @include each(182px);
     }

    @media #{$rwdMiddle} {
        //$imgbwidth:1104px;//bili * width <960
        @include each(240.75px);
     }
    @media #{$rwdLarge} {
        //$imgbwidth:1104px;// bili * width 
        @include each(250px);
    }
}



@mixin rwdimgsWidth() {
     @media #{$rwdSmall} {
        min-width: 225px;
        max-width: 225px;
        //$imgbwidth:1104px;//bili * width <960
     }


    @media #{$rwdMiddle} {
        max-width: 240.75px;
        //$imgbwidth:1104px;//bili * width <960
    }
    @media #{$rwdLarge} {
        max-width: 240.75px;
        //$imgbwidth:1104px;// bili * width 
    }
}

@mixin rwdimgbWidth() {

     @media #{$rwdSmall} {
        min-width: 1104px;
        max-width: 1104px;
        //$imgbwidth:1104px;//bili * width <960
        //@include each(182);
     }

    @media #{$rwdMiddle} {
        min-width: 1440px;
        max-width: 1440px;
        //$imgbwidth:1104px;//bili * width <960
    }
    @media #{$rwdLarge} {
        min-width: 1380px;
        max-width: 1380px;
        //$imgbwidth:1104px;// bili * width 
    }
}
