// ---------------------------------------------------------------------------
// Imports

@import "base";
@import "susy";
/* -------------------------------------------------------------------------*/
/* Layout */
body {
    margin:0;
    padding:0;
}
ul, ol, dd {
    list-style-type:none;
    margin-left:0;
    padding-left:0;
}

.container {
  @include container;
  @include susy-grid-background;
  
}

// image width        
//$width: 214px;
//$width:179.2px;


#logo-active {
    text-align:center;
    display: block;
    position:absolute;
    //width:100%;
    height:100%;
    //left:0;    
    //top:0;
    bottom:0;
    margin: auto;
    cursor: pointer;
    
    img {
        //width:100%;
        position:relative;
        left:0;    
        top:0;
        bottom:0;
        margin: auto;
    }
}
  

#welcome {
   // position:relative;
    text-align:center;
    margin:0;
    padding:0;
   
}  

#logo {
    display:none;
    cursor: pointer;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    margin: auto 0;
}

  
#team {
    
    //text-align:center;
    display: none;
    margin:0;
      padding:0;
    //position: absolute;
    top:0px;
    left:0px;
    //width: 1000px;
    //margin-left:-500px;
    //left:4rem;
    //height:100%;
    //@include span-columns(9,12); 
    //width:100%;
    //margin-left: auto;
    //margin-right: auto;
    //overflow:hidden;
    //overflow-x:hidden;
    //overflow-y:hidden;
    
    //margin:0;
    ul#a {
      //float: left;
      //padding-left:500px;
      position:relative;
      margin:0;
      padding:0;
      -webkit-padding-start: 0px;
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      //left:0;
      li {
        cursor: pointer;
        //float: left;
        list-style: none;
        //overflow:hidden;
      }
      //@include rwdEach();
        //@include each();
        li.cai {
            opacity: 0;
            transition: opacity .7s;
            &:hover {
                opacity: 1;
            }
        }
      
    }
}

#description-1 {
    display: none;
}

.img {
    //min-width:225px;
    //max-width:225px;
    //max-height:auto;
    //@include rwdimgsWidth();
}

.imgb {
    //min-width:1104px;
    //max-width:1104px;
    //max-height:auto;
    //@include rwdimgbWidth();
}

.close {
    img {     //set url auto
     cursor:url(http://fujifilm-x.com/x-pro1/common/images/btn_close.png), auto;

   }

li.cai {
      opacity: 0;
      transition: opacity .7s;
      &:hover {
        opacity: 1;
      }
    }

}
